doctype html
html(lang="en")
  head
    title Simply Chat
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.bg-light
    nav.navbar.navbar-expand-lg.navbar-dark.bg-info
      .container
        a.navbar-brand.font-weight-bold(href="/") Simply Chat
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
          span.navbar-toggler-icon
    #chat
    script(src='assets/main.js')